.marker-cluster-birth {
	background-color: rgba(181, 226, 140, 0.6);
}
.marker-cluster-birth div {
	background-color: rgba(110, 204, 57, 0.6);
}

.marker-cluster-activity {
	background-color: rgba(241, 211, 87, 0.6);
}
.marker-cluster-activity div {
	background-color: rgba(240, 194, 12, 0.6);
}

.marker-cluster-death {
	background-color: rgba(253, 156, 115, 0.6);
}
.marker-cluster-death div {
	background-color: rgba(241, 128, 23, 0.6);
}


.marker-cluster-birth-disabled {
	background-color: rgba(238, 233, 233, 0.6);
}
.marker-cluster-birth-disabled div {
	background-color: rgba(237, 220, 190, 0.6);
}

.marker-cluster-activity-disabled {
	background-color: rgba(238, 233, 233, 0.6);
}
.marker-cluster-activity-disabled div {
	background-color: rgba(237, 220, 190, 0.6);
}

.marker-cluster-death-disabled {
	background-color: rgba(238, 233, 233, 0.6);
}
.marker-cluster-death-disabled div {
	background-color: rgba(237, 220, 190, 0.6);
}



.marker-cluster-s {
	background-clip: padding-box;
	border-radius: 10px;
	}
.marker-cluster-s div {
	width: 15px;
	height: 15px;
	margin-left: 2.5px;
	margin-top: 2.5px;

	text-align: center;
	border-radius: 7.5px;
	font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
	}
.marker-cluster-s span {
	line-height: 20px;
	}


.marker-cluster-m {
	background-clip: padding-box;
	border-radius: 15px;
	}
.marker-cluster-m div {
	width: 25px;
	height: 25px;
	margin-left: 2.5px;
	margin-top: 2.5px;

	text-align: center;
	border-radius: 15px;
	font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
	}
.marker-cluster-m span {
	line-height: 25px;
	}


.marker-cluster-l {
	background-clip: padding-box;
	border-radius: 20px;
	}
.marker-cluster-l div {
	width: 35px;
	height: 35px;
	margin-left: 2.5px;
	margin-top: 2.5px;

	text-align: center;
	border-radius: 15px;
	font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
	}
.marker-cluster-l span {
	line-height: 30px;
	}


.marker-cluster-old {
	background-clip: padding-box;
	border-radius: 20px;
	}
.marker-cluster-old div {
	width: 35px;
	height: 35px;
	margin-left: 2.5px;
	margin-top: 2.5px;

	text-align: center;
	border-radius: 15px;
	font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
	}
.marker-cluster-old span {
	line-height: 30px;
	}
